.git/
.github/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info
dist/
build/
tests/
nano_config/
*.md
!README.md
.ruff_cache/
.pytest_cache/
.mypy_cache/
.env
.assets
node_modules/
bridge/dist/
workspace/
